<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<%- include partials/_header %>
<body>
  <h1>Urls</h1>
  <p>Your shortened URL is: <a href="http://localhost:<%=PORT%>/u/<%= shortURLKey %>">http://localhost:<%=PORT%>/u/<%= shortURLKey %></a></p>
  <p>Your original URL is: <a href=<%= longURL.longURL %>><%=longURL.longURL%></a></p>

  <form method="POST" action="/urls/<%= shortURLKey %>/update">
    <label for="longURL">Long URL</label>
    <input type="text" name="longURL"/>
    <input type="submit" value="Update">
  </form>
  <a href = "/urls">Edit Current Links</a>
  <div></div>
  <button onclick="location.href='/urls/new'" type="button" class="button-new">Create another TinyApp Link!</button>
</body>
</html>
